/* RESETS */

:root {
    --primary-color: rgb(31, 112, 204);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1,
h2,
p {
    margin: 10px 0;
}

img {
    width: 100%;
}



/* Navbar Styles */

nav{
    background-color: var(--primary-color);
    color: white;
    height: 75px;
    border-bottom: 1px #fff solid;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: white;
    padding: 0 10px;
    margin: 0 5px;
}

.navbar li a:hover {
    border-bottom: white 2px solid;
} 

.checkbox, .hamburger-lines {
    display: none;
}


/* Hamburger */

@media screen and (max-width: 768px) {

.nav-container {
    display: block;
    position: relative;
    height: 75px;
  }

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 25px;
    width: 30px;
    top: 20px;
    right: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

.nav-container .hamburger-lines {
    display: block;
    height: 25px;
    width: 30px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #FFF;
  }

  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }


  .nav-container input[type="checkbox"]:checked ~ .items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 1);
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .navbar .items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }

   .nav-container input[type="checkbox"]:checked ~.items {
    transform: translateX(0);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  } 
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }
  
}


/* Showcase */

.showcase {
    height: 450px;
    background-color: var(--primary-color);
    color: white;
    position: relative;
}

.showcase .grid {
    overflow: visible;
}

.showcase-form {
    position: relative;
    top: 30px;
    height: 475px;
}


.form-control label
 {
    display: block;
    font-size: 12px;
    margin: 5px 0;
}

.form-control input, select {
    display: block;
    font-size: 12px;
    margin: 0px 0px 15px 0px;
}


.showcase-form input[type="text"],
.showcase-form input[type="email"],
select,
textarea {
    border: 0;
    outline: none;
    border-bottom: 1px solid #333;
    width: 90%;
    padding: 4px;
    resize: none;
}

.showcase-form input[type="submit"] {
    text-align: center;
}


/* About Me */

.about-me {
    padding: 50px 0px;
    overflow: auto;
}

.about-me-photo img {
    height: 300px;
    width: 300px;

}

.about-me-text {
    overflow: hidden;
}


/* Footer */

footer {
    background-color: var(--primary-color);
    color: white;
    height: 50px;
    border-top: 1px #fff solid;
}


footer ul li {
    padding-left: 25px;
}


footer ul li a i {
    color: white;
}

/* Utilities */

.btn {
    display: inline-block;
    padding: 10px 30px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn-outline {
    background-color: transparent;
    border: 1px #fff solid;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* overflow: auto; */
    padding: 0 50px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}



.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.card {
    background-color: #fff;
    color: #333;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}